* {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #78E3FD;
}

main {
	position: relative;
	height: 100vh;
}

input {
	outline: 0;
	margin-top: 15px;
	margin-bottom: 50px;
	border: none;
	width: 100%;
	padding: 15px;
	font-size: 24px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.26);
}

button {
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: #D1F5FF;
	font-size: 16px;
	outline: 0;
	height: 58px;
	border: none;
	cursor: pointer;
	padding: 0 15px;
}

#loading {
	margin: 0 auto;
}

#weather-container {
	width: 100%;
	background-color: #7D53DE;
	padding: 15px;
	border-radius: 2px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.26);
	font-size: 24px;
	color: white;
	position: relative;
}

#loading, #weather-container {
	display: none;
}

#name {
	font-size: 30px;
	padding-bottom: 25px;
	border-bottom: solid 1px white;
}

#temperature {
	font-size: 40px;
	position: absolute;
	top: 15px;
	right: 15px;
	vertical-align: top;
}

#temperature-more, #date {
	font-size: 16px;
	width: 100%;
	text-align: right;
	margin: 10px 0;
}

#date {
	margin-bottom: 0;
}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
}